@{
    Layout = "_Layout";
}

<div class="col-md-8">
    @RenderBody()
</div>
<div class="col-md-3" style="margin-left:10px">
    <h3 class="widget-title">My Sponsors</h3>
    <img src="http://lorempixel.com/240/400/technics/" />

    <h3>Categories</h3>
     @Component.Invoke("CategoryList")

    <h3>Tags</h3>
     @Component.Invoke("TagCloud")
     
     <h3>Disclaimer</h3>
     <div>
         The information in this weblog is provided "AS IS" with no warranties, 
         and confers no rights. This weblog does not represent the thoughts, 
         intentions, plans or strategies of my employer. It is solely my opinion. 
         Inappropriate comments will be deleted at the authors discretion.
     </div>
</div>
