@model IEnumerable<Tuple<Category, int>>

@{
    // tag cloug algorithm http://blog.jeremymartin.name/2008/03/efficient-tag-cloud-algorithm.html
    
    int minPercent = 80, maxPercent = 160;
    int max = Model.Count() == 0 ? 0 : Model.Select(t => t.Item2).Max();
    int min = max / 10;
    
    float multiplier = ((float)(maxPercent-minPercent)) / ((float)(max-min)); 
}

<div>
    @foreach (var tag in Model.Where(t => t.Item2 >= min))
    {
        var size = minPercent + ((max - (max - (tag.Item2 - min))) * multiplier);  
        <a asp-action="Tag" asp-controller="Blog" asp-route-name="@tag.Item1.Slug" style="font-size:@(size)%">@tag.Item1.Title (@tag.Item2)</a>
    }
</div>

