@{
    ViewBag.Title = " About";
}

<section>
	<h1>Here's a little about me.</h1>
	<p>
		My real name is Harry Pierson. I've been with Microsoft almost 17 years. Currently, I'm 
		working on the platform plumming that powers <a href="http://www.xbox.com/en-US/smartglass">SmartGlass</a>.
		I'm happily married to <a href="https://www.facebook.com/julianne.pierson">Julianne</a> 
		and we have two great kids - Patrick and Rileyanne. When I'm not with my family or working, 
		I'm probably at the ice rink. In addition to coaching my son's team over the years, I also 
		play in the <a href="http://www.gshockey.com">Greater Seattle Hockey League</a>. This past year, 
		I started learning to be a Little League umpire so I could volunteer for my daughter's little league association.
	</p>

</section>

<section>
	<h1>Get in touch.</h1>
	<p>
		I always say that the only way to build great products is to talk to the people who use it. 
		So feel free to reach out anytime via these channels:
	</p>
	<ul>
		<li>Email: <a href="mailto:harry@@devhawk.net">harry@@devhawk.net</a></l1>
		<li>Twitter: <a href="http://twitter.com/devhawk">@@devhawk</a></li>
		<li>Phone: <a href="tel:+1-425-761-0293">425.761.0293</a></l1>
		<li>Skype: harrypierson <a href="skype:harrypierson?call">Call</a> or <a href="skype:harrypierson?chat">Chat</a></l1>
		<li>Xbox Live: <a href="https://account.xbox.com/en-us/Profile?Gamertag=RayTracer">RayTracer</a></l1>
	</ul>
</section>
