@model IEnumerable<Post>
    
@{
    Layout = "_BlogLayout";
    var prevNextPageLinks = ViewBag.PrevNextPageLinks as Tuple<string, string>;
}

@if (ViewBag.PageHeader != null)
{
<h1>@ViewBag.PageHeader</h1>
}
@foreach (var post in Model)
{
    @Html.Partial("_Post", post);
}

@if (prevNextPageLinks != null)
{
    @await Html.PartialAsync("_PrevNextPage", prevNextPageLinks)
}