@model IEnumerable<Post>
    
@{
    Layout = "_BlogLayout";
}

@if (ViewBag.PageHeader != null)
{
<h1>@ViewBag.PageHeader</h1>
}
@foreach (var post in Model)
{
    @Html.Partial("_Post", post);
}

@if (ViewBag.OlderPostsLink != null || ViewBag.NewerPostsLink != null)
{
<div class="prev-next-page">
    @if (!string.IsNullOrWhiteSpace(ViewBag.OlderPostsLink))
    {
        <a class="btn btn-primary prevbtn" href="@ViewBag.OlderPostsLink">← Older Posts</a>
    }

    @if (!string.IsNullOrWhiteSpace(ViewBag.NewerPostsLink))
    {
        <a class="btn btn-primary nextbtn" href="@ViewBag.NewerPostsLink">Newer Posts →</a>
    }
</div>
}