@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Error";
}
<h1 style="text-align:center">There was an error.</h1>
<div style="text-align:center">Those responsible have been sacked. </div>
